@page "/"
@using SofteamDashboard.Core.Abstractions
@using SofteamDashboard.Core.Entities
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    private List<Funcionario> _funcionarios;
    protected override async Task OnInitializedAsync()
    {
    }
}
