body {
    font-family: Arial, sans-serif;
    background-color: var(--softeam-blue-00);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: var(--softeam-blue-20);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--post-request);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: var(--softeam-blue-60);
}

#message {
    margin-top: 10px;
    font-size: 14px;
}
